@import '/src/App.scss';

.reservations-accueil {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 3em;

    .card{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color1;
        padding: 1.5em 0;

        button {
            padding: 0.3em;
            background-color: $color4;
            border: none;
            font-size: 1.2em;
            font-weight: 700;
            color: $color1;
            transition: 0.3s all ease;
            border-radius: 1em;
            padding: 1em;
            font-size: 0.7em;
        }

        button:hover {
            cursor: pointer;
            background-color: $colorHover;
            color: $color4;
            transition: 0.3s all ease;
        }
    }
}