@import '/src/App.scss';

.reservations-accueil {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 1em;

    .card{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color1;
        padding: 1.5em 0;
        align-items: center;

        button {
            background-color: $color4;
            border: none;
            font-size: 1.2em;
            font-weight: 700;
            color: $color1;
            transition: 0.3s all ease;
            border-radius: 1em;
            padding: 1em;
            font-size: 0.7em;
        }

        button:hover {
            cursor: pointer;
            
            color: $color4;
            transition: 0.3s all ease;
        }

        .supprimer-reservation{
            background-color: $color4;

            i{
                font-size: 2.6em;
                margin-bottom: 0.2em;
            }

            &:hover{
                background-color: #b82d2d;
            }
        }

        .creation-contrat{
            background-color: $color4;

            i{
                font-size: 2.6em;
                margin-bottom: 0.2em;
            }

            &:hover{
                background-color: $color2;
            }
            
        }

        .card-body{
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        .btns-home{
            display: flex;
            gap: 1em;

        }
    }
}

.confirm{
    display: block;
}

.confirm-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;

    button{
        padding: 1em 3em;
        background-color: $color4;
        border: none;
        font-size: 1em;
        border-radius: 5px;
        transition: 0.2s all ease;
        font-weight: 700;

        &:hover{
            cursor: pointer;
            background-color: $colorHover;
            color: $color4;
            transition: 0.2s all ease;
        }
    }

    .non{
        background-color: $color4;
    }

    .oui{
        background-color: rgb(196, 90, 90);
        color: $color4;
    }
}