@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Cambria', serif;
$background-color: #cecece;
$color1 : #070f4e;
$color2 : #2772db;
$color3: #3ab1c8;
$color4: #f5ebeb;
$colorHover: #545980;


:root {
  font-size: 16px;
  background-color: $background-color;
  color: $color1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

.App {

  .content {
    max-width: 1024px;
    margin: 2em auto;
    padding: 1em;

    .h1-top {
      font-size: 3em;
      font-family: $font-secondary;
    }
  }

  .App-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color3;
    padding: 1em 2em;
    min-height: 5em;

    @media screen and (max-width: 800px) {
      font-size: 1em !important;
      padding: 0.5em;
    }

    .gauche {
      display: flex;
      align-items: baseline;
      gap: 3em;
      color: $color1;

      @media screen and (max-width: 800px) {
        gap: 1em;
        align-items: baseline;
      }

      h1 {
        transition: all ease 0.3s;

        @media screen and (max-width: 800px) {
          font-size: 1.2em !important;
        }

        a {
          text-decoration: none;
          color: inherit;
          font-family: $font-secondary;
          font-size: 1.2em;
        }

        &:hover {
          color: $colorHover;
          transition: all ease 0.3s;
        }
      }

      .nav-home {
        display: flex;
        font-size: 1.5em;
        gap: 1.5em;

        @media screen and (max-width: 800px) {
          font-size: 1em !important;
          gap: 0.7em;
        }

        a {
          font-weight: 500;
          text-decoration: none;
          color: $color1;
          transition: all 0.3s ease;
          position: relative;
          padding: 0.1em 0.3em;
          font-size: 0.8em;

          &:hover {
            color: $colorHover;
            transition: all 0.3s ease;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2.5px;
            width: 0;
            margin-left: 0.3em;
            height: 2px;
            background-color: $colorHover;
            transition: all 0.3s ease;
          }

          &:hover::after {
            width: calc(100% - 0.6em);
          }
        }
      }
    }

    .droite {
      height: 3em;
      width: 3em;
      background: $background-color;
      border-radius: 50%;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.3s ease;

      .initiale {
        p {
          font-size: 2em;
          height: 100%;
          text-align: center;
          color: $color1;
          font-family: $font-secondary;
        }
      }

      &:hover {
        cursor: pointer;
        transition: all 0.3s ease;
        color: $colorHover;
        transform: scale(1.2);
      }
    }

    .logout {
      position: absolute;
      opacity: 1;
      top: 70px;
      right: 30px;
      height: 3em;
      width: 10em;
      background-color: $color1;
      border-radius: 5px;
      box-shadow: $color1 0px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease;

      p {
        text-decoration: none;
        color: $background-color;
        position: relative;
        transition: all ease 0.3s;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: $colorHover;
          transition: all ease 0.3s;
        }

        &:hover {
          cursor: pointer;
          color: $colorHover;
          transition: all ease 0.3s;

          &::after {
            width: 100%;
          }
        }
      }
    }

    .logout-off {
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }


  }
}

.react-calendar {
  height: 350px;
  background-color: $color4;
  padding: 1em;
}

.react-calendar__tile{
  margin: 3px;
  border-radius: 1em;
  transition: 0.3s all ease;
  border: 2px solid $color4 !important;
  box-sizing: border-box;
}

.react-calendar__tile--active {
  border-radius: 1em;
  background-color: $color3 !important;
}

.react-calendar__tile--now:hover, .react-calendar__tile:hover {
  border-radius: 1em;
  background-color: $color3 !important;
  transition: 0.3s all ease;
  color: white;
}

.react-calendar__tile--now {
  border-radius: 1em;
  background-color: #070f4e00;
}

.loader-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
  width: 100%;
}