@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$font-primary: 'Montserrat', sans-serif;
$color1 : #070f4e;
$color2 : #2772db;
$color3: #3ab1c8;
$color4: #f5ebeb;
$colorHover: #545980;


:root {
  font-family: $font-primary;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  .App-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color3;
    padding: 1em 2em;

    .gauche {
      display: flex;
      align-items: baseline;
      gap: 3em;

      h1 {

        transition: all ease 0.3s;

        a {
          text-decoration: none;
          color: $color1;


        }

        &:hover {
          transform: scale(1.05);
        }
      }

      .nav-home {
        display: flex;
        font-size: 1.5em;
        gap: 1.5em;

        a {
          font-weight: 500;
          text-decoration: none;
          color: $color1;
          transition: all 0.3s ease;
          position: relative;
          padding: 0.1em 0.3em;

          &:hover {
            color: $colorHover;
            transition: 0.2s;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2.5px;
            width: 0;
            margin-left: 0.3em;
            height: 2px;
            background-color: $colorHover;
            transition: all 0.3s ease;
          }

          &:hover::after {
            width: calc(100% - 0.6em);
          }
        }
      }
    }

    .droite {
      height: 3em;
      width: 3em;
      background: #f5ebeb;
      border-radius: 50%;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all 0.3s ease;

      .initiale {
        p {
          font-size: 2em;
          height: 100%;
          text-align: center;
          color: $color1;
        }
      }

      &:hover {
        cursor: pointer;
        transition: all 0.3s ease;
        color: $colorHover;
        transform: scale(1.2);
      }
    }

    .logout {
      position: absolute;
      top: 70px;
      right: 30px;
      height: 3em;
      width: 10em;
      background-color: $color1;
      border-radius: 5px;
      box-shadow: #070f4e 0px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        text-decoration: none;
        color: $color4;
        position: relative;
        transition: all ease 0.3s;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background-color: $colorHover;
          transition: all ease 0.3s;
        }

        &:hover {
          cursor: pointer;
          color: $colorHover;
          transition: all ease 0.3s;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}