@import '/src/App.scss';

* {
    text-decoration: none;
}

.calendrier {
    display: flex;
    margin-top: 3em;
    gap: 4em;
    justify-content: center;
    align-items: center;
    flex: 1;

    .calendar {
        border-radius: 1em;

        *:hover {
            border-radius: 1em;
        }

        *:active {
            border-radius: 1em;
        }
    }

    .infos {

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        height: 400px;
        flex: 1;

        p {
            &:nth-child(1) {
                font-weight: 700;
            }
        }
    }
}

.reserved {
    background-color: $color2 !important;
    
    color: white;
}

.tile{
    border-radius: 1em;
}
  
  